body {
    color:white;
    background:#39393B;
    padding:0px;
}

h1 {
    font-size:40px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-top:5px;
    text-align:center;
}

h2 {
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size:25px;
    padding:25px;
}

nav {
    margin-bottom:10px;
    text-align:center;
}

a {
    color:#FFFFFF;
    font-family:sans-serif;
    background-color:#1D4B61;
    padding:10px;
    margin:5px;

}

a.display {
    background-color:#23242D;
}

a.clear {
    background-color:#787C90;
}

a.add {
    display:#141729;
    display:none;
}

a.edit {
    background-color:#004400;
    padding:5px !important;
}

a.delete {
    background-color:#440000;
    padding:5px !important;
}

form {
    font-family: Arial,Sans-Serif;
    font-size: 13px;
    text-align:left;
    padding:5px;
}

input.submit {
    width:auto;
    background-color:#FFFFFF;
    line-height:1;
    border:3px solid #FFFFFF;
    font-weight:bold;
    font-size:18px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
}

input.slider {
    width:50px;
    font-size:14px;
}

input.radio {
    width:25px;
    margin:0;
}

input.textstyle {
    border:1px solid #000000;
    background:#FFFFFF;
    color:#000000;
    font-size:14px;
}

select {
    float:left;
}

legend {
    font-family:Arial,Helmet,Freesans,sans-serif;
    font-size:14px;
    text-decoration:underline;
    color:white;
}

fieldset {
    background:#343536;
    border:2px solid #FFFFFF;
}



label {
    font-size:16px;
    text-decoration:underline;
}

label.shelve {
    font-size:15px;
    text-decoration:none;
}

ul {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    width:auto;
    list-style-type:none;
    margin:0px;
    padding:2px;
    
}

li {
    color:white;
    margin:5px;
    
}