body {
    color:#000000;
    background-image:url(images/bg.png);
    padding:0px;
}

h1 {
    font-size:40px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-top:5px;
    text-align:center;
    color:#FFFFFF;
}

nav {
    margin-bottom:10px;
    text-align:center;
}

a {
    color:#FFFFFF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:18px;
    background-color:#1D4B61;
    padding:5px;
    margin:5px;
    border:3px solid #000000;

}

a.header {
    padding:0px !important;
    margin:0px !important;
    text-decoration:none;
    border:0px !important;
}


a.display {
    background-color:#c3a35e;
}

a.clear {
    background-color:#787C90;
}

a.add {
    background-color:#4a8e47;
    display:none;
}

a.edit {
    background-color:#6b9ec9;
    padding:5px !important;
}

a.delete {
    background-color:#ba7a7a;
    padding:5px !important;
}

a.button {
    width:250px;
    color:#000000 !important;
    text-decoration:none;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-color:#FFFFFF;
    line-height:1;
    border:3px solid black;
    font-weight:bold;
    font-size:24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form {
    text-align:left;
    padding:5px;
}

input.submit {
    width:250px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-color:#FFFFFF;
    line-height:1;
    border:3px solid black;
    font-weight:bold;
    font-size:24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

input.slider {
    width:75px;
    font-size:18px;
    border:1px solid #000000;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

input.radio {
    width:25px;
    margin:0;
}

input.textstyle {
    border:1px solid #000000;
    background:#FFFFFF;
    color:#000000;
    font-size:18px;
    width:250px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

input.range {
    width:250px;
}

select {
    float:left;
    font-size:18px;
    width:250px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

legend {
    font-family:Arial,Helmet,Freesans,sans-serif;
    font-size:14px;
    text-decoration:underline;
    color:white;
}

label {
    font-size:16px;
    text-decoration:underline;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

label.shelve {
    font-size:15px;
    text-decoration:none;
}

ul {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    width:auto;
    list-style-type:none;
    margin:0px;
    padding:2px;
    
}

ul.errors {
    color:red;
    font-weight:bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

li {
    margin:5px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    
}

div.cabinet {
    border:8px solid #2c1d13;
    background-image:url(images/woodbg.png);
}

label {
    font-size:20px;
    font-weight:bold;
}

label.shelve {
    font-size:18px;
    font-weight:normal;
}

fieldset {
    border:none;
}

img.splash {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

p {
    text-align:center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#f9ff94;
}